<div class="slider">
	<div class="container">
		<div class="arrow prev-arrow">
			<img src="/img/arrow.png" alt="">
		</div>
		<div class="arrow next-arrow">
			<img src="/img/arrow.png" alt="">
		</div>
		<div class="slider-list">
			<img src="/img/img-slider.png" alt="">
			<img src="/img/img-slider.png" alt="">
			<img src="/img/img-slider.png" alt="">
			<img src="/img/img-slider.png" alt="">
		</div>
	</div>
</div>