<ul class="breadcrumps">
	<li class="breadcrumps__item active">
		<a href="#" class="breadcrumps__link">Главная</a>
	</li>
	<li class="breadcrumps__item active">
		<a href="#" class="breadcrumps__link">Каталог</a>
	</li>
	<li class="breadcrumps__item">
		<a href="#" class="breadcrumps__link">Бытовая техника</a>
	</li>
</ul>