{% extends "layouts/layout.twig" %}

{% block page %}
	{% include '/blocks/slider/slider.twig' %}
	<div class="container">
		{% include '/blocks/breadcrumps/breadcrumps.twig' %}
		{% include '/blocks/catalog/catalog.twig' %}
	</div>
{% endblock %}
